// default fonts
$font-main: sans-serif !default;
$font-size: 100% !default;
$lineheight: 1.5 !default;

$font-code: monospace !default;
$lineheight-code: 1.0 !default;

// default colors
$color-back: #fff !default;
$color-fore: #333 !default;

// code sample colors
$color-code-back: #000 !default;
$color-code-fore: #0c0 !default;
$color-code-bord: #666 !default;
